kbd {
	padding      : 2px 4px;
	white-space  : nowrap;
	color        : black;
	background   : #EEE;
	border-width : 2px 4px 5px 3px;
	border-style : solid;
	border-color : #CCC #AAA #888 #BBB;
	font-family  : monospace;
	display      : inline-block;
	font-size    : 80%;
}